{% extends "base.html" %}
{% block title %}Resume{% endblock %}
{% block content %}

<section class="max-w-3xl mx-auto bg-gray-800 rounded-lg shadow-lg p-8">
    <header class="mb-8 text-center">
        <h1 class="text-3xl font-bold mb-2">Michał Goluch</h1>
        <p class="text-gray-400">Software Developer</p>
        <p class="text-gray-400">Email: mgoluch2020@gmail.com | Location: Lublin / Hybrid / Remote</p>
    </header>

    <section class="mb-8">
        <h2 class="text-3xl font-bold mb-4 text-blue-400">Summary</h2>
        <p class="text-gray-300">👋 Hey there!

            I'm a junior backend developer with a passion for building clean, functional web applications. I mainly work
            with Python and Django, but I'm no stranger to PostgreSQL, HTML, JavaScript, and Tailwind CSS.

            Right now, I'm working on this portfolio to showcase what I can do — including forum features, project
            pages, and a custom resume section. I enjoy solving real problems with code, learning new tools, and
            collaborating with people who care about what they build.

            I'm currently looking for a junior Python/Django developer position where I can grow my skills, contribute
            to meaningful projects, and learn from experienced developers.</p>
    </section>

    <!-- Experience -->
    <section class="mb-8">
        <h2 class="text-3xl font-bold mb-4 text-blue-400">Experience</h2>
        <div class="mb-4">
            <h3 class="font-bold mb-4 text-2xl uppercase tracking-wider">Python Programming Internship - NeuroN Foundation</h3>
            <span class="text-gray-400 text-sm">02/2024 - 09/2024</span>
            <p class="font-bold mb-4 text-blue-300 text-2xl uppercase tracking-wider">Python, Django, SQL, Docker, Linux</p>
            <ul class="list-disc list-inside text-gray-300 ml-4">
                <li>Developed integrations between Slack apps and custom Python bots to support internal automation and collaboration.</li>
                <li>Created a Django-based CRUD web application with Slack authentication, enabling users to manage profiles with skills, locations, and team assignments.</li>
                <li>Utilized and designed RESTful APIs and implemented webhooks for dynamic user search and filtering by skillsets.</li>
                <li>Containerized the application with Docker and contributed to deployment on Microsoft Azure, collaborating closely with the system administrator.</li>
                <li>Gained hands-on experience with CI/CD pipelines using GitHub Actions by assisting and learning from the team lead responsible for the setup.</li>
            </ul>
        </div>
    </section>

    <!-- Projects -->
    <section class="mb-8">
        <h2 class="text-3xl font-bold mb-4 text-blue-400">Projects</h2>
        <div>
            <h3 class="font-bold mb-4 text-blue-500 text-2xl uppercase tracking-wider">My Portfolio App</h3>
            <p class="text-gray-300">This is a full-featured personal portfolio web application built with Django and
                styled using Tailwind CSS. The goal of the project is to present my skills, experience, and personal
                projects in a clean, organized, and professional way to support my job applications as a junior
                developer.</p>
            <a href="https://github.com/michu999/Portfolio_app" class="text-2xl font-bold mb-4 text-blue-400">Github / </a>
            <a href="https://github.com/michu999/Portfolio_app" class="text-2xl font-bold mb-4 text-blue-400">Live</a>
        </div>
    </section>

    <!-- Education -->
    <section class="mb-8">
        <h2 class="text-3xl font-bold mb-4 text-blue-400">Education</h2>
        <div>
            <h3 class="font-bold mb-4 text-blue-500 text-2xl uppercase tracking-wider">Geoinformatics, Bachelor’s |
                University of Marie Curie-
                Skłodowska</h3>
            <span class="text-gray-400 text-sm">2024-2026 (expected)</span>
        </div>
        <a class="text-gray-300 ml-4">During my studies, I focused on Python programming, algorithms, and practical
            applications of IT in geospatial contexts. I completed coursework in relevant areas like:

            <li>Web development with Django and DRF</li>
            <li>Python & scripting</li>
            <li>Data structures and algorithms</li>
            <li>Java and Kotlin basics</li>
            <li>SQL and relational databases</li>
            <li>Mathematical analysis and linear algebra</li>

            I also participated in the Geoinformatics Student Research Group, where I worked with members of other
            research groups on GIS-related applications and provided technical support to fellow students.</a>

        <p><a href="https://grzyby-w-polsce-wnozigp.opendata.arcgis.com/" class="text-2xl font-bold mb-4 text-blue-400">One of the apps that I helped develop</a></p>
    </section>

    <!-- Skills -->
    <section class="mb-8">
        <h2 class="text-3xl font-bold mb-4 text-blue-400">Skills</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div>
                <h3 class="font-bold mb-4 text-blue-500 text-2xl uppercase tracking-wider">Tech Stack</h3>
                <ul class="list-disc list-inside text-gray-300">
                    <li>Python</li>
                    <li>Django / DRF</li>
                    <li>HTML / CSS / Bootstrap / Tailwind</li>
                    <li>Javascript</li>
                    <li>PostgreSQL / Oracle</li>
                    <li>Linux</li>
                    <li>Docker</li>
                    <li>Git</li>
                    <li>Jira / Confluence</li>
                </ul>
            </div>
            <div>
                <h3 class="font-bold mb-4 text-blue-500 text-2xl uppercase tracking-wider">Soft Skills</h3>
                <ul class="list-disc list-inside text-gray-300">
                    <li>Communication</li>
                    <li>Teamwork</li>
                    <li>Problem-solving</li>
                    <li>Creativity</li>
                    <li>Adaptability</li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Languages -->
    <section class="mb-8">
        <h2 class="text-3xl font-bold mb-4 text-blue-400">Languages</h2>
        <ul class="list-disc list-inside text-gray-300 grid grid-cols-2 gap-x-8">
            <li>Polish - C2 (Native)</li>
            <li>English - C1</li>
            <li>German - A1 (Still learning)</li>
        </ul>
    </section>

    <!-- Hobbies -->
    <section>
        <h2 class="text-3xl font-bold mb-4 text-blue-400">Hobbies</h2>
        <ul class="list-disc list-inside text-gray-300 grid grid-cols-2 gap-x-8">
            <li>Cooking (Italian / Mexican)</li>
            <li>Gaming (Especially Co-Op Games!)</li>
            <li>Movies (Tarantino and Scorsese are the best)</li>
            <li>History (Either WW2 period or the Roman Empire)</li>
        </ul>
    </section>

</section>
{% endblock content %}